<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Hola, {{ nombreUser }}
    </ion-title>
    <ion-avatar slot="end" class="ion-margin">
      <img alt="Avatar" [src]="photo[0].webviewPath" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="create" (click)="showCreateAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let test of test$ | async" class="ion-margin">
      <ion-label class="ion-text-wrap">
        <h2 class="ion-text-bold">{{ test.Titulo }}</h2>
      </ion-label>
      <ion-button fill="outline" (click)="showUpdateAlert(test)">✏️ Actualizar</ion-button>
      <ion-button fill="solid" color="danger" (click)="delete(test.uid)">🗑️ Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>